:root {
    --purple100 : hsl(254, 88%, 90%);
    --purple500 : hsl(256, 67%, 59%);
    --yellow100 : hsl(31, 66%, 93%);
    --yellow500 : hsl(39, 100%, 71%);
    --while : hsl(0, 0%, 100%);
    --black : hsl(0, 0%, 7%);
}
/* ------------------- Fonts : ----------------------- */
@font-face {
    font-family: "DMSans-Italic";
    src: url(../Fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: "DMSans-Medium";
    src: url(../Fonts/DMSans-Medium.ttf);
}
@font-face {
    font-family: "DMSans-Medium-Italic";
    src: url(../Fonts/DMSans-MediumItalic.ttf);
}
@font-face {
    font-family: "DMSans-Regular";
    src: url(../Fonts/DMSans-Regular.ttf);
}
@font-face {
    font-family: "DMSans-Variable";
    src: url(../Fonts/DMSans-VariableFont_opsz\,wght.ttf);
}
/* ---------------------------------------------- */


body  {
    background-color: #fffffff0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.container {
    padding: 50px;
    height: auto;
    max-width: 1440px;
    display: grid;
    /* border: 0.5px solid black; */
    grid-template-columns: 1fr 3fr;
    gap: 26px;
    color: black;
    text-align: center;
    
    
    
}

.flex-section {
    /* border: 1px solid black; */
    border-radius: 12px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 26px;
}
.grid-section {
    /* border: 1px solid black; */
    border-radius: 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 26px;
}

.flex-item {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-family: "DMSans-Italic";
    font-size: 37px;
    text-align: left;
    padding: 2px;
    font-weight: 700;
}


.g-item1 {
    grid-column: 1/3;
    background-color: var(--purple500);
    
}

.g-item2 {
    grid-row: 1/3;
    grid-column: 3/4;
    background-color: var(--purple100);
}
.g-item6 {
    grid-column: 2/4;
    background-color:var(--purple500);
}


.flex-item , .grid-item {
    border-radius: 10px;
}


.f-item1 {
    background-color: var(--yellow100);
    
}
.g-item4 {
    background-color: var(--yellow500);
}

.f-item2 {
    background-color: var(--yellow500);
    padding: 20px;
    gap: 45px;
    font-family: "DMSans-Regular";
}

.button {
    max-width: 228px;
    margin-bottom: 40px;
}
.text1 {
    max-width: 234px;
    font-size: 42px;
    line-height: 0.96;
}
.text1 span {
    color: var(--purple500);
}
.text2 {
    max-width: 265px;
    font-size: 43px;
    line-height: 0.9;

}
.g-item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 23px;
    font-family:"DMSans-Medium-Italic";
    font-weight: 500;
    

}

.g-text1 span {
    color: var(--yellow500);
}
.g-text1 {
    max-width: 441px;
    font-size: 55px;
}
.star {
    max-width: 150px;
    margin-bottom: -14px;
  
}

.g-bottom {
    font-weight: 200;
}
.g-item2 {
    display: flex;
    flex-direction: column;
    gap: 392px;
    justify-content: center;
    align-items: center;
    font-family: "DMSans-Medium";
    font-weight: 600;
    text-align: left;
    padding: 30px;
    position: relative;
    overflow: hidden;
}
.image2 {
    max-width: 445px;
    width: 100%;
    position: absolute;
    top: auto;
    bottom: auto;
    left: 48px;
}


.head-text2 {
    font-size: 30px;
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 25px;
}

.bottom-text2 {
    font-size: 19px;
    font-weight: 100;
    padding-top: 18px;
    max-width: 230px;
    margin-left: -17px;
    margin-bottom: -26px;
}
.g-item3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: white;
    gap: 90px;
}

.platform-text {
    font-family: "DMSans-Medium";
    max-width: 238px;
    text-align: left;
    font-size: 36px;
    font-weight: 600;



}
.platform img {
    box-shadow: 2px 2px 10px rgba(154, 154, 154, 0.228);
    border-radius: 20px;
    position: absolute;
    top: 33px;
    left: 89px;
    max-width: 320px;

}

.g-item4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 93px;
    position: relative;
    overflow: hidden;


}
.schedule-text {
    font-family: 'DMSans-Medium';
    font-weight: 600;
    font-size: 35px;
    text-align: left;
    max-width: 242px;



}
.schedule-img img {
    position: absolute;
    max-width: 244px;
    bottom: -75px;
    left: 50%;
    transform: translate(-50%, 0px);
}


.g-item5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 19px;
    background-color: white;
    padding: 29px;




}
.head-percent {
    font-size: 73px;
    font-family: 'DMSans-Regular';
    font-weight: 600;
    margin-left: -73px;




}
.par-percent {
    font-family: 'DMSans-Regular';
    font-weight: 600;
    font-size: 19px;
    color: #3d3d3d;
    margin-top: -11px;
    margin-left: -46px;




}
.img-percent {
    max-width: 264px;
    margin-top: 31px;
}






.g-item6 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding-left: 20px;



}
.text-stat {
    font-size: 37px;
    font-family: 'DMSans-Medium-Italic';
    max-width: 302px;
    color: white;
    font-weight: 600;
    text-align: left;
    padding-left: 20px;



}
.img-stat {
    max-width: 302px;



}

/* -----------------------Responsive---------------------- */

@media only screen and (max-width : 1350px) {
    .text-stat {
    font-size: 30px;
    max-width: 319px;
    }
    .g-item4 {
    padding: 20px;
    gap: 46px;
    }
    .schedule-text {
    font-size: 31px;
    max-width: 481px;
    padding-bottom: 45px;
    }
    .schedule-img img {
        max-width: 195px;
    bottom: -62px;
    }
    .head-text2 {
            font-size: 23px;
    }
    .bottom-text2 {
        font-size: 16px;
    }
    
}


@media only screen and (max-width : 1250px) {
    .flex-section {
        order: 2;
    }
    .grid-section {
        order: 1;
    }
    .container {
        grid-template-columns: 1fr;
    }
    .schedule-text {
        font-size: 32px;
        max-width: 294px;
    }
    .schedule-img img {
        max-width: 231px;
        bottom: -79px;
    }
    .head-text2 {
        padding-bottom: 59px;
        font-size: 33px;
        text-align: left;
    }
    .bottom-text2 {
    margin-bottom: -2px;
    text-align: left;
    font-size: 19px;
    }
    .f-item1 {
    flex-direction: row;
    gap: 41px;
    }
    .f-item2 {
    flex-direction: row;
    gap: 98px;
    }
    .text1 {
    max-width: 420px;
    font-size: 61px;
    }
    .button {
    max-width: 302px;
        padding-top: 85px;
    }
    .text2 {
    font-size: 63px;
    max-width: 316px;
    }
    .text-stat {
    font-size: 37px;
    padding-right: 27px;
    }




}@media only screen and (max-width : 1000px) {
    .grid-section {
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .g-item1 {
        grid-column: 1 / 4;
    grid-row: 1 / 2;
    }
    .g-text1 {
            font-size: 49px;
    max-width: 633px;
    }
    .g-bottom {
            font-size: 19px;
    }
    .g-item2 {
        grid-column: 1 / 4;
    grid-row: 2 / 3;
    flex-direction: row;
    position: static;
    gap: 70px;
    }
    .bottom-text2 {
        font-size: 27px;
    text-align: center;
    }
    .head-text2 {
        font-size: 33px;
    padding-bottom: 0px;
    text-align: center;
    }
    .g-item6  {
        grid-column: 1 / 4;
    grid-row: 4 / 5;
    gap: 60px;
    }
    .text-stat {
        padding-right: 0px;
    font-size: 44px;
    max-width: 372px;
    }
    .image2 {
        position: static;
    max-width: auto;
    }
    .button {
            padding-top: 85px;
    }
    .schedule-text {
        font-size: 28px;
    }
    .head-percent {
        font-size: 66px;
    padding-left: 22px;
    }
    .par-percent {
            padding-left: 23px;
    }
    .platform-text {
        font-size: 27px;
    }
    .text1 {
        font-size: 53px;
    padding-left: 43px;
    padding: 26px;
    }
    .text2 {
        font-size: 52px;
    }
    .f-item2 {
            gap: 58px;
                padding: 20px;
    }
    .g-item3 {
        padding: 20px;
    }
    .f-item1 {
        padding: 0px 10px;
    }
}

@media only screen and (max-width : 850px) {
    .grid-section {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .g-item6 {
            grid-row: 6 / 7;
    grid-column: 1 / 4;
    }
    .g-item5 {
        grid-row: 5 / 6;
    grid-column: 1 / 4;
    }
    .g-item4 {
        grid-row: 4 / 5;
    grid-column: 1 / 4;
    }
    .g-item3 {
        grid-row: 3 / 4;
    grid-column: 1 / 4;
    }
    .g-text1 {
        padding: 0px 11px;
    }
    .g-item3 {
        position: static;
    gap: 51px;
    }
    .platform img {
        position: static;
    max-width: 425px;
    }
    .platform-text {
        font-size: 34px;
    max-width: 405px;
    text-align: center;
    }
    .g-item4 {
        position: static;
    flex-direction: row;
    }
    .schedule-img img {
        transform: none;
    position: static;
    max-width: 255px;
    }
    .schedule-text {
        font-size: 34px;
    }
    .head-percent {
        text-align: center;
    padding: 0px;
    margin: 0px;
    }
    .par-percent {
        font-size: 27px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    }
    .img-percent img {
        max-width: 301px;
    }
    .text-stat {
        font-size: 34px;
    max-width: 285px;
    }
    .button {
        max-width: 200px;
    }
    .text1 {
        font-size: 40px;
    max-width: 259px;
    padding: 10px;
    }
    .text2 {
        font-size: 36px;
    padding-left: 10px;
    max-width: 305px;
    }
    .bottom-text2 {
        display: none;
    }

    
}

@media only screen and (max-width: 670px) {
    .g-item1 {
        gap: 24px;
    }
    .g-text1 {
        font-size: 33px;
    max-width: 465px;
    }
    .g-bottom {
        display: none;
    }
    .g-item2 {
        gap: 65px;
    }
    .image2 {
        max-width: 154px;
    }
    .image2 img {
        max-width: inherit;
    }
    .head-text2 {
        font-size: 27px;
    max-width: 176px;
    font-weight: 100;
    }
    .g-item3 {
        gap: 25px;
    }
    .platform-text {
        font-weight: 100;
    font-size: 29px;
    }
    .g-item4 {
        gap: 28px;
    }
    .schedule-img img {
        max-width: 194px;
    }
    .schedule-text {
        font-weight: 100;
    padding: 0px;
    max-width: 297px;
    font-size: 32px;
    }
    .g-item5 {
        gap: 3px;
    }
    .head-percent  {
        font-size: 44px;
    font-weight: 100;
    }
    .par-percent {
        font-size: 24px;
    margin-bottom: -21px;
    font-weight: 100;
    }
    .img-percent img {
        max-width: 222px;
    padding-top: 5px;
    }
    .g-item6 {
        gap: 5px;
    }
    .text-stat {
        font-weight: 100;
    font-size: 29px;
    padding-right: 10px;
    }
    .img-stat {
        max-width: 188px;
    }
    .f-item1 {
        gap: 5px;
    }
    .text1 {
        font-size: 30px;
    }
    .f-item2 {
        gap: 3px;
    }
    .box2 img {
        max-width: 176px;
    }
    .text2 {
        font-size: 31px;
    }












    
}
